<div class="sidebar-wrapper">
      <ul class="nav">
          <li ui-sref-active="active">
              <a ui-sref="app.dashboard">
                  <i class="material-icons">dashboard</i>
                  <p>Dashboard</p>
              </a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="app.orders">
                  <i class="material-icons">shopping_cart</i>
                  <p>Orders</p>
              </a>
          </li>
          <li ui-sref-active="active">
              <a href="#">
                  <i class="material-icons">person</i>
                  <p>Users</p>
              </a>
          </li>
          <li ui-sref-active="active">
              <a href="#">
                  <i class="material-icons">persons</i>
                  <p>Clients</p>
              </a>
          </li>
      </ul>
</div>
